@inherits LayoutComponentBase
@inject IAppStateService appState
<div class="wrapper" id="wrapper">
    <Header />
    <SearchPopup />
    <CascadingValue Value="breadCrumb">
        <BCrumb />
        @Body
    </CascadingValue>
    <Footer />
</div>
@appState;
@code {
    BreadCrumb breadCrumb=new BreadCrumb("");

    protected override void OnInitialized()
    {
        //appState.OnChange += StateHasChanged;
        appState.OnChange += StartCountdown;
    }

    void StartCountdown()
    {
        breadCrumb = appState.breadCrumb;
    }

}
