@inherits LayoutComponentBase
@inject IAppStateService appState
<div class="wrapper" id="wrapper">
    <Header />
    <SearchPopup />
    
        <BCrumb />
  
        @Body 
    <Footer />
</div>
@appState;
@code {
  

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
        appState.OnChange += SomeFunc;
    }

    void SomeFunc()
    {

    }

}
