
<nav class="mainmenu__nav">
    <ul class="meninmenu d-flex justify-content-start">
        <li class="drop with--one--item"><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="drop with--one--item"><NavLink href="about">about</NavLink>About</li>
        <li class="drop with--one--item"><NavLink href="faq">faq</NavLink>Faq</li>
    </ul>
</nav>



